#define Yflip // for minmode


#ifdef Yflip
    #define SpecularUV 0.375f
    #define DiffuseUV 0.125f
    #define FresnelUV 0.675f // https://tenor.com/view/cipher-67-cipher-67-honkai-star-rail-hsr-gif-5056850290681810398
#else
    #define SpecularUV 0.625f
    #define DiffuseUV 0.875f
    #define FresnelUV 0.325f
#endif
